authorizationEndPoint="https://sso:8443/realms/Liferay/protocol/openid-connect/auth"
companyId=L"20097"
discoveryEndPoint="https://sso:8443/realms/Liferay/.well-known/openid-configuration"
discoveryEndPointCacheInMillis="360000"
idTokenSigningAlgValues=[ \
  "RS256", \
  ]
issuerURL="https://sso:8443/realms/Liferay"
jwksURI="https://sso:8443/realms/Liferay/protocol/openid-connect/certs"
openIdConnectClientId="liferay"
openIdConnectClientSecret="liferay"
providerName="Keycloak"
scopes="openid\ email\ profile"
subjectTypes=[ \
  "public", \
  "pairwise", \
  ]
tokenEndPoint="https://sso:8443/realms/Liferay/protocol/openid-connect/token"
userInfoEndPoint="https://sso:8443/realms/Liferay/protocol/openid-connect/userinfo"
