authorizationEndPoint="http://sso:8080/auth/realms/Liferay/protocol/openid-connect/auth"
companyId=L"20097"
discoveryEndPoint=""
discoveryEndPointCacheInMillis="360000"
idTokenSigningAlgValues=[ \
  "RS256", \
  ]
issuerURL="http://sso:8080/auth/realms/Liferay"
jwksURI="http://sso:8080/auth/realms/Liferay/protocol/openid-connect/certs"
openIdConnectClientId="liferay"
openIdConnectClientSecret=""
providerName="Keycloak"
scopes="openid\ email\ profile"
subjectTypes=[ \
  "public", \
  "pairwise", \
  ]
tokenEndPoint="http://sso:8080/auth/realms/Liferay/protocol/openid-connect/token"
userInfoEndPoint="http://sso:8080/auth/realms/Liferay/protocol/openid-connect/userinfo"
