authorizationEndPoint=""
customAuthorizationRequestParameters=[ \
  ]
customTokenRequestParameters=[ \
  ]
discoveryEndPoint="http://sso:8080/realms/Liferay/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=[ \
  "RS256", \
  ]
issuerURL=""
jwksURI=""
openIdConnectClientId="liferay"
openIdConnectClientSecret="liferay"
providerName="Keycloak"
registeredIdTokenSigningAlg=""
scopes="openid\ email\ profile"
subjectTypes=[ \
  ]
tokenConnectionTimeout=I"1000"
tokenEndPoint=""
userInfoEndPoint=""
